.anilist {
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    background-image: url(img/img.png);
    border-radius: 30px;
    background-repeat: no-repeat;
    color: gray;
    height: 535px;
    
}
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');